@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notes-container {
  height: 700px;
  width: 480px;
  border: 2px solid white;
  background: white;
}

.first-line {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 500;
  /* text-align: center; */
  margin-top: 30px;
  margin-left: 80px;
  background: none;
}

.create-notes-button {
  background: #16008b;
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 1000px;
  left: 300px;
}

.btn {
  background: none;
  color: white;
  font-size: 80px;
  margin: 10px;
  border: none;
  position: relative;
  left: 2px;
  top: 0px;
}

.color-list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  /* border-radius: 50%; */
  border: none;
  margin-top: 20px;
}

.color-list li {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 6px;

  border-radius: 50%;

  border: none;
}
/* ------------------------new--------------------------- */

.circle-bg {
  display: inline-block;
  background-color: #ffffff; /* Set the background color for the entire line */
}

.circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-right: 8px;
}

.form-div {
  height: 200px;
  width: 400px;
  border: 2px solid white;
  border-radius: 6px;

  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

/* popup */
/* CreateNotesandPopup.css */

.notes-container {
  position: relative;
}

.form-overlay {
  border: 2px solid white;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translate(-80%, -60%);
  background: white;
  z-index: 1; /* Use a higher z-index than other elements to ensure it's above them */
}


.input-name {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
}
.create-btn {
  background-color: #16008b;
  color: white;
  height: 30px;
  width: 70px;
  float: right;
  position: relative;
  top: 20px;
  border-radius: 11px;
  border: none;
}
/* ------------------- */
/* CreateNotesandPopup.css */

.notes-container {
  position: relative;
}

.blur-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1; /* Ensure it's behind the form */
}

.form-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Background color of the form */
  padding: 20px;
  border-radius: 10px;
  z-index: 2; /* Ensure it's above the blur backdrop */
}



@media (max-width: 510px) {
  .notes-container {
    width: 100%;
  }

  .create-notes-button {
    position: sticky;
    top: 500px;
    left: 900px;
  }

  .btn {
    font-size: 70px;
  }
}
