@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 200px;
  width: 400px;

  position: relative;
  left: 400px;
  top: 80px;
}
.desktop-image {
  height: 200px;
  width: 350px;
}
.data {
  height: 200px;
  width: 600px;
  text-align: center;

  position: relative;
  left: 300px;
  top: 80px;
}
.heading {
  font-weight: 700;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}
.paragraph {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.main-container {
  height: 700px;
  width: 1130px;

  position: absolute;
  left: 400px;
  top: 0px;
  background: #dae5f5;
}
@media only screen and (max-width: 479px) {
  .main-container {
    display: none !important; /* Hide the main container on small screens */
  }

  .big-container {
    display: block !important; /* Show the big container on small screens */
    /* Add other styles for the big container as needed */
  }
}